
<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta property="og:url" content="/manage" />
    <meta property="og:modules" content="manage" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles/iview.css">
    <title>后台管理系统 - by Luffy Zhao</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
